{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div>
        <img src="{{url_for('static', filename='images/MARS-2-7.png')}}"">
        <span class="fs-3 fw-bold">Аварийный доступ</span>
    </div>
    <form method="post" novalidate>
        <div>
            {{ form.csrf_token }}
        </div>
        {% for field in form if field.name != 'csrf_token' %}
            <div class="mb-3">
                {% if not(field.type == "SubmitField") %}
                {{ field.label(type="submit", class_="form-label") }}
                {% endif %}

                {% if field.type == "BooleanField" %}
                {{ field(class_="form-check-label") }}

                {% elif field.type == "SubmitField" %}
                {{ field(class_="btn btn-primary") }}

                {% elif field.type == "TextAreaField" %}
                {{ field(class_="form-text") }}

                {% else %}
                {{ field(class_="form-control") }}
                {% endif %}

                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
</div>
{%  endblock %}